<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Todo list</title>

    	<meta charset="utf-8"/> 
    	<meta name="viewport" content="width=device-width, initial-scale=1"/>

        <link rel="stylesheet" href="/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
        
        <script src="/js/jquery.min.js"></script>
      	<script src="/js/bootstrap.min.js"></script>
</head>
<body>
	<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
	<table class="table">
		<thead>
			<tr>
				<th>Task</th>
				<th sec:authorize="hasRole('ROLE_ADMIN')">Username</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="todo: ${todos}">
				<td><a th:href="@{'/todo-edit/' + ${todo.id}}"
					th:text="${todo.task}"></a></td>
				<td sec:authorize="hasRole('ROLE_ADMIN')" th:text="${todo.user.username}"></td>
			</tr>
		</tbody>

	</table>
	<a th:href="@{/todo-edit}" class="btn btn-primary" id="newTask">New task</a>
	<a th:href="@{/todo/excel-report}" class="btn btn-primary">Export</a>
	<form th:action="@{/logout}" method="post" id="logoutForm">
		<input type="submit" class="btn btn-primary" value="Sign Out" />
	</form>
</body>
</html>